/*----------------------------
------------------------------
-------- DESKTOP ONLY --------
------------------------------
----------------------------*/

@media only screen and (min-width: 768px) {
  .main {
    width: 520px;
    margin: 16px auto;
  }

  #button {
    align-self: flex-end;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.5);
    /* translateX(50%) 
      translateY(50%); */
  }

  40% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.main {
  min-width: 80%;
  margin: 16px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  min-height: 80%;
  padding: 8px;
}

#header {
  display: flex;
  width: 100%;
}

#img_info {
  width: 32px;
  height: 32px;
  margin-left: 48px;
  margin-right: 24px;
  margin-top: 12px;
  position: absolute;
  cursor: pointer;
  animation: heartbeat 4s infinite;
}

#wrapper_profile_picture {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  margin-bottom: 62px;
  cursor: pointer;
}

#img_profile_picture {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: 2px 8px 20px #00000040;
  /* margin: 8px; */
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.form-group-center {
  display: flex;
  justify-content: center;
}

#form_main {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

input,
select {
  /* display: block; */
  border: 0.5px solid lightgray;
  border-radius: 2px;
  /* margin-left: 8px; */
  padding: 4px 0;
  text-indent: 16px;
  font-size: 1em;
  outline: none;
  width: 49%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
  margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper_degree {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 16px 16px;
  border-radius: 16px;
  border: 1px dotted darkgrey;
  margin-bottom: 8px;
}

.wrapper_degree .form-group {
  padding: 0px;
}

.throwback-photos-privacy-text {
  margin-left: 8px;
  font-size: 105%;
  cursor: pointer;
}

.throwback-photos-container {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.title-throwback-photos {
  margin-bottom: 8px;
}

.textarea_comments {
  margin-bottom: 8px;
  border: 0.5px solid lightgray;
  border-radius: 2px;
  padding: 4px 0;
  text-indent: 16px;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.throwback-item {
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  width: 80px;
  height: 80px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.add-throwback {
  padding: 28px;
  cursor: pointer;
}

.throwback-photo {
  width: 100%;
  height: 100%;
}

.wrapper-degree-footer {
  display: flex;
  justify-content: space-between;
}

#btn-add-degree {
  display: block;
  height: 30px;
  text-align: center;
  background-color: darkgray;
  border: 1px solid transparent;
  margin: 0px 0px 8px;
  color: white;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 4px 16px;
  align-self: flex-start;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.btn-remove-degree {
  height: 30px;
  text-align: center;
  background-color: #fd2c2c;
  border: 1px solid transparent;
  margin: 0px 0px 8px;
  color: white;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 4px 16px;
  align-self: flex-start;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14);
}

#button {
  display: block;
  width: 50%;
  height: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f52ba;
  border: 1px solid transparent;
  margin: 16px auto;
  color: white;
  font-size: 1.5em;
  border-radius: 30px;
  box-shadow: 0 6px 10px 0 rgba(170, 48, 48, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
